[submodule "addons/lunyscratch"]
	path = addons/lunyscratch
	url = https://github.com/CodeSmile-0000011110110111/LunyScratch_Godot.git
	branch = main
	update = merge
[submodule "addons/lunyscript"]
	path = addons/lunyscript
	url = https://github.com/CodeSmile-0000011110110111/LunyScript-Godot
